# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/**/gradle-wrapper.jar
android/**/.gradle
android/**/cache/
android/**/build/

# iOS
ios/**/Pods/
ios/**/.symlinks/
ios/**/Profile
ios/**/xcuserdata/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db